<body>
    <header class="container-fluid">
        <div class="row">
            <div class="col-12 py-4">
                <img src="../../assets/img/LOGO-modified.png" style="height: 80px; width: 80px;">
            </div>
        </div>
    </header>
    <main class="container-fluid">
        <div class="row">
            <div class="col-md-7 py-5 text-center">
                <button routerLink="/login">COBA SEKARANG</button>
                <img class="w" src="../../assets/img/White-Paint-Brush-Stroke-Background-PNG-Image 1.png" style="height: 230px; width: 550px;">
            </div>
            <div class="col-md-4 py-5">
                <img class="t" src="../../assets/img/TALK.png">
                <img class="z" src="../../assets/img/zyro-image.png " style="height: 40px; width: 40px;">
                <img class="j" src="../../assets/img/jzyro-image.png" style="height: 40px; width: 40px;">
            </div>
        </div>
    </main>
    <h4 id="typing">JADIKAN BAHASA INGGRIS</h4>
</body>
<h4 id="typted">SEBAGAI PEMBUKA CAKRAWALAMU</h4>
