body{
    margin: 0;
    padding: 0;
    background: url(/assets/img/background3.png);
    height: 100vh;font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;background-position: center;
    overflow: hidden
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    position: relative;
    top: 50px;
    
  }
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    background-color: #ffffff;
    text-align: center;
  }
  .imgl{
    position: relative;
    left: 50px;
    top: 20px;
  }
  svg{
    position: relative;
    left: 1090px;
    height: 30px;
    width: 30px;
    color: #000000;
  }
  .keluar{
    position: relative;
    color: white;
    left: 1100px;
  }
  #mb{
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    right: 70px;
  }
  #mc{
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    left: 280px;
  }
  .t{
    position: relative;
    left: 20px;
  }
  .tk{
    position: relative;
    left: 20px;
  }
  p{
    text-align: center;
  }
  a{
    color: #000000;
  }
  button{
    position: relative;
    top: 50px;
    height: 30px;
    width: 110px;
    border-radius : 10px;
    background :linear-gradient(135deg, #C8E97C 0%, #5FB828 100%);
    margin-top: 10%;
    margin-left: 425px;
  }
 