<body>
    <div class="continer-fluid">
        <div class="loginBox">
            <h5>SELAMAT BELAJAR DI BEEF  UP !</h5>
            <P>Masukan Nama Pengguna Dan Kata Sandi</P>
            <form method="post">
                <div class="inputBox">
                    <input id="uname" type="text" name="Nama" placeholder="Masukan Nama Pengguna Anda">
                    <input id="pass" type="password" name="Kata Sandi" placeholder="Masukan Kata Sandi Anda">
                    <button type="submit" routerLink="/halaman-utama">Masuk</button>
                    <p class="p">Apakah belum memiliki Akun?</p> 
                    <a routerLink="/pendaftaran"> <u>Daftar Sekarang!</u> </a>
                </div>
            </form>         
        </div>
        <img class="imgl" src="../../assets/img/LOGO-modified.png" style="height: 80px; width: 80px;">
        <img class="t" src="../../assets/img/TALK.png" style="width: 600px; height: 480px;">
        <img class="ks" src="../../assets/img/zyro-image.png" style="width: 50px; height: 50px;">
        <img class="ls" src="../../assets/img/jzyro-image.png" style="width: 50px; height: 50px;">
    </div>
</body>