<body>
    <div class="continer-fluid">
        <img class="imgl" src="../../assets/img/LOGO-modified.png" style="height: 50px; width: 50px;">
        <a routerLink="/profile"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg></a>
          <a class="keluar" routerLink="/login" onclick="return confirm('Apakah anda yakin ingin keluar ?')"> <u>KELUAR</u> </a>
          <table class="table">
            <thead>
              <tr>
                <th><a routerLink="/beranda">BERANDA</a></th>
                <th><a routerLink="/materi-belajar">MATERI BELAJAR</a></th>
                <th><a routerLink="/latihan-soal">LATIHAN SOAL</a></th>
                <th><a routerLink="/testimoni">TESTIMONI</a></th>
                <th><a routerLink="/tentang-kami">TENTANG KAMI</a></th>
              </tr>
            </thead>
          </table>
          <main class="container p-md-5 p-2">
            <img class="w" src="../../assets/img/White-Paint-Brush-Stroke-Background-PNG-Image 1.png" style="height: 70px; width: 180px;">
                <p class="dm">DAFTAR SOAL</p> 
            <div class="row">
                <div class="col-12 col-md-3">
                    <div id="mb" class="border border-dark" style="height: 150px; width: 150px;">
                        <a routerLink="/judul-soal-admin">
                            <img class="mb" src="../../assets/img/Screenshot__6_-removebg-preview.png" style="height: 100px; width: 100px;">
                            <p>JUDUL SOAL</p>
                        </a>
                    </div> 
                    <button class="s"><a routerLink="/ubah-soal"><img src="../../assets/img/edit2.png" style="height: 30px; width: 30px;"></a></button>
                    <button class="h"><a href="/latihan-soal-admin" onclick="return confirm('Anda yakin mau menghapus item ini ?')"><img src="../../assets/img/bag.png" style="height: 30px; width: 30px;"></a></button>
                </div> 
            </div>
            <div class="row py-1">
                <div class="col-12 col-md-3">
                    <div id="mb" class="border border-dark" style="height: 150px; width: 150px">
                        <a routerLink="/judul-soal-admin">
                            <img class="mb" src="../../assets/img/Screenshot__6_-removebg-preview.png" style="height: 100px; width: 100px;">
                            <p>JUDUL SOAL</p>
                        </a>
                    </div> 
                    <button class="s"><a routerLink="/ubah-soal"><img src="../../assets/img/edit2.png" style="height: 30px; width: 30px;"></a></button>
                    <button class="h"><a href="/latihan-soal-admin" onclick="return confirm('Anda yakin mau menghapus item ini ?')"><img src="../../assets/img/bag.png" style="height: 30px; width: 30px;"></a></button>
                </div> 
            </div>
            <button class="coba"><a routerLink="/tambah-soal">TAMBAH SOAL</a></button>
        </main>
    </div>
</body>