<body>
    <div class="continer-fluid">
        <div class="loginBox">
            <h5>PENDAFTARAN</h5>
            <form >
                <div class="inputBox">
                    <input id="uname" type="text" name="Nama" placeholder="Nama Pengguna">
                    <input id="email" type="email" name="Email" placeholder="Email">
                    <input id="pass" type="password" name="Kata Sandi" placeholder="Kata Sandi">
                    <input id="pass" type="password" name="Ulangi Kata Sandi" placeholder="Ulangi Kata Sandi">
                    <button type="submit" onClick="alert('pendaftaran berhasil')">DAFTAR</button>
                    <p>Sudah memiliki Akun?</p> 
                    <a routerLink="/login"> <u>Masuk Sekarang!</u> </a>
                </div>
            </form>         
        </div>
        <img class="imgl" src="../../assets/img/LOGO-modified.png" style="height: 80px; width: 80px;">
        <img class="t" src="../../assets/img/TALK.png" style="width: 600px; height: 480px;">
        <img class="ks" src="../../assets/img/zyro-image.png" style="width: 50px; height: 50px;">
        <img class="ls" src="../../assets/img/jzyro-image.png" style="width: 50px; height: 50px;">
    </div>
</body>
