<body>
  <header class="container-fluid">
      <div class="row">
          <div class="col-12 py-4">
          </div>
      </div>
  </header>
  <main class="container-fluid">
      <div class="row">
          <div class="col-md-7 py-5 text-center">
              <h4>PROFIL SAYA</h4>
              <tr>
                <td class="n">Nama :</td>
              </tr>
              <tr>
                <td><input type="text" name="nama" placeholder="Masukan Nama" style="text-align: center;"></td>
              </tr>
              <tr>
                <td class="n">Email :</td>
              </tr>
              <tr>
                <td><input type="email" name="nama" placeholder="Masukan Email" style="text-align: center;"></td>
              </tr>
              <tr>
                <td class="ufp">Unggah Foto Profil :</td>
              </tr>
              <input type="file" id="file">
              <label for="file" id="uploadBtn">Pilih File</label>
              <tr>
                <td><button type="submit" routerLink="#">SIMPAN</button></td>&nbsp; &nbsp;
                <td><button style="background: #B1ADBD;" type="submit" routerLink="/halaman-utama">KEMBALI</button></td>
              </tr>
          </div>
          <div class="col-md-4 py-5">
            <img class="main" src="../../assets/img/man-icon-vector-260nw-1040084344 1.png">
          </div>
      </div>
  </main>
</body>
