<body>
    <header class="container-fluid">
        <div class="row">
            <div class="col-12 py-4">
                <img class="imgl" src="../../assets/img/LOGO-modified.png" style="height: 50px; width: 50px;">
                <a routerLink="/profile"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg></a>
                  <a class="keluar" routerLink="/login" onclick="return confirm('Apakah anda yakin ingin keluar ?')"> <u>KELUAR</u> </a>
            </div>
        </div>
    </header>
    <div class="continer-fluid">
          <table class="table">
            <thead>
              <tr>
                <th><a routerLink="/beranda">BERANDA</a></th>
                <th><a routerLink="/materi-belajar">MATERI BELAJAR</a></th>
                <th><a routerLink="/latihan-soal">LATIHAN SOAL</a></th>
                <th><a routerLink="/testimoni">TESTIMONI</a></th>
                <th><a routerLink="/tentang-kami">TENTANG KAMI</a></th>
              </tr>
            </thead>
          </table>
          <main class="container-flud p-md-5 p-2">
            <div class="row">
                <div id="bagroun" class="col-12">
                    <div id="mb" class="border border-dark" style="height: 420px;">
                        <p>TENTANG KAMI</p>
                        <p style="text-align: left; font-size: 21px;">Beef up diambil dari bahasa inggris yang berarti membuat sesuatu menjadi lebih kuat.
                            Salah satu cabang materi bahasa inggris yang penting namun banyak orang kesulitan mempelajari nya adalah grammar. 
                            Maka pembuatan website ini ditujukan sebagai media pembelajaran khusus untuk memudahkan dalam memahami grammar,
                            agar pemahaman user mengenai grammar bahasa inggris menjadi lebih kuat, sama seperti nama website.
                            Dan tersedianya fitur latihan soal untuk mengukur pemahaman terhadap materi yang sudah dipelajari.</p>
                    </div>
                </div>
            </div>
            <div class="row g-2 g-md-4">
                <div class="col-6 col-md-3">
                    <div id="bm" class="border border-dark" style="height: 50px; width: 140px;"><p style="font-size: 12px;">20030064 <br>
                        M. Iqbal A <br>
                        Project Manager</p></div> 
                </div>
                <div class="col-6 col-md-3">
                    <div id="bm" class="border border-dark" style="height: 50px; width: 140px;"><p style="font-size: 12px; position: relative; left: 10px;">19110187 <br>
                        Rachmat Permana <br>
                        UI / UX Designer</p></div> 
                </div>
                <div class="col-6 col-md-3">
                    <div id="bm" class="border border-dark" style="height: 50px; width: 140px;"><p style="font-size: 12px; position: relative; left: 10px;">20010021 <br>
                        Rizky Maulana S <br>
                        Front End</p></div> 
                </div>
                <div class="col-6 col-md-3">
                    <div id="bm" class="border border-dark" style="height: 50px; width: 140px;"><p style="font-size: 12px;">19110031 <br>
                        Lia Amelia <br>
                        Back End</p></div> 
                </div>
            </div>
            <div class="row g-2 g-md-4 py-5">
                <div class="col-6 col-md-3">
                    <div id="bm" class="border border-dark" style="height: 50px; width: 140px;"><p style="font-size: 12px;">20030055 <br>
                        Hanifah Febriani <br>
                        Project Manager</p></div> 
                </div>
                <div class="col-6 col-md-3">
                    <div id="bm" class="border border-dark" style="height: 50px; width: 140px;"><p style="font-size: 12px;">19110161 <br>
                        Fika Amalia <br>
                        UI / UX Designer</p></div> 
                </div>
                <div class="col-6 col-md-3">
                    <div id="bm" class="border border-dark" style="height: 50px; width: 140px;"><p style="font-size: 12px;">20030001 <br>
                        Dede Novi <br>
                        Front End</p></div> 
                </div>
                <div class="col-6 col-md-3">
                    <div id="bm" class="border border-dark" style="height: 50px; width: 140px;"><p style="font-size: 12px;">19110044 <br>
                        Erlina Ariyanti <br>
                        Back End</p></div> 
                </div>
            </div>
            <img class="iqbal" src="../../assets/img/iqbal.png">
            <img class="rachmat" src="../../assets/img/rachmat.png">
            <img class="dolken" src="../../assets/img/dolken.png">
            <img class="lia" src="../../assets/img/lia.png">
            <img class="hanifah" src="../../assets/img/hanifah.png">
            <img class="fika" src="../../assets/img/fika.png">
            <img class="novi" src="../../assets/img/novi.png">
            <img class="erlina" src="../../assets/img/erlina.png">
        </main>
    </div>
</body>
